.leftpane {
    width: 10%;
    height: 100%;
    float: left;
    border-style: solid;
}

.canvas {
    width: 40% !important;
    height: 100%;
    float: left;
    text-align: center;
    border-collapse: collapse;
    border-style: solid;
    margin-left: 7%;
}

.rightpane {
    width: 35% !important;
    height: 100%;
    position: relative;
    float: right;
    text-align: center;
    border-style: solid;
}

.toppane {
    width: 100%;
    height: 100px;
    text-align: center;
    border-collapse: collapse;
}

.gallery {
    display: block;
    border: 2px solid #000000;
    border-radius: 5px;
    height: 75px;
    width: 75px;
    margin: 20px auto 10px;
}

section{
    text-align: center;
}

table, th, td {
    /*border: 1px solid black !important;*/
    /*border-collapse: collapse !important;*/
    width: 15% !important;
    /*margin-left: auto !important;*/
    /*margin-right: auto !important;*/
}
th, td {
    /*padding: 2px !important;*/
    /*text-align: center !important;*/
}

/*table{*/
/*    display: none;*/
/*}*/
