<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<script type="text/javascript" src="/js/script.js"></script>
	</head>
	<body>


        <div class="container">
			<div class="toppane">CloudSimPlus Modeler</div>
			<div class="leftpane">
				<h1>Icons</h1>
				<section>
					<img src="https://www.linkpicture.com/q/datacenter.png" class="gallery" contenteditable="true"/>
					<img src="https://www.linkpicture.com/q/host_1.png" class="gallery" contenteditable="true"/>
					<img src="https://www.linkpicture.com/q/vm.png" class="gallery" contenteditable="true"/>
					<img src="https://www.linkpicture.com/q/cloudlet.png" class="gallery" contenteditable="true"/>
				</section>
			</div>
			<div class="middlepane">Architecture</div>
			<div class="rightpane">
				<h1>Table</h1></div>
		</div>
	</body>
</html>
